.item {
  img {
    width: 550px;
    height: 550px;
  }

  .description {
    p {
      margin: 0;
    }

    .item-name {
      font-family: "Railway-SemiBold", sans-serif;
      padding-bottom: 5px;
      padding-top: 10px;
    }

    .item-type {
      font-family: "Railway-ExtraLight", sans-serif;
      padding-bottom: 15px;
    }

    .price {
      font-family: "Arial", sans-serif;

      .peso-sign {
        width: 12px;
      }
    }
  }
}
