@font-face {
  font-family: "Railway";
  src: url("../assets/raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Railway-ExtraLight";
  src: url("../assets/raleway/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Railway-SemiBold";
  src: url("../assets/raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Railway-Bold";
  src: url("../assets/raleway/Raleway-Bold.ttf") format("truetype");
}
